{% extends 'base.html' %}
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
{% block content %}
<body style="background-color: rgb(56, 56, 56);">
  <div class="container">
    <br><br>
    <form method="POST" style="background-color: black;">
      {% csrf_token %}
      <div class="jumbotron text-center" style=" background-color: rgba(0, 0, 0, 0.19); box-shadow: 0 4px 8px 0 rgba(34, 34, 32, 0.589), 0 6px 20px 0 rgba(250, 20, 4, 0.575);">
        <h2 style="color: white;">{{obj.Title_M}}</h2>
        <br>
        <hr color="white">
        <p class="lead" style="color: thistle;"><strong >Dear! <b style="color: rgb(32, 17, 240);">{{ user }}</b></strong> you really want to <b style="color: red;">Delete</b> this post right now...</p>
        
        <p style="color: rgb(124, 123, 123);">
          Having trouble? <a href="mailto: nemachandragoswami0099@email.com" style="color: white;" > Contact us</a>
        </p><br>
        <p class="lead">
          <button type="submit" class="btn btn-danger btn-sm" href="{% url 'details' obj.id %}" role="button">No... It just a mistake</button>
          <button type="submit" class="btn btn-primary btn-sm" href="https://bootstrapcreative.com/" role="button">Continue... delete this post</button>
        </p>
      </div>
    </form>
{% endblock %}
</body>
</html>

