<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p>A lot of people think of age 50 as the magic number for getting a first colonoscopy, but earlier is better, a prestigious U.S. expert panel now says.
    Based on evidence that younger people are being diagnosed with colon cancer and would benefit from screening, the U.S. Preventive Services Task Force (USPSTF) is moving the recommended age for colon cancer screening from 50 to age 45.
    The recommendation is for all adults without symptoms, personal health history of colon polyps or family health history of genetic disorders that increase risk, the task force noted.
    "Colorectal cancer screening saves lives and people ages 45 to 75 should be screened ... to lower their risk of dying from this devastating disease," said Dr. John Wong, chief scientific officer of the USPSTF. "There is new science about colorectal cancer in people younger than 50. That science has allowed us to expand our recommendation to people ages 45 to 49."
    Though the USPSTF is an independent, volunteer group of health experts in a range of specialties, its recommendations carry weight. For example, the Affordable Care Act linked USPSTF recommendations with its insurance coverage requirements.
    The task force does not have enough evidence to show benefits to moving the screening age even lower, Wong said, but called for additional research.
    The American Cancer Society was already recommending screening this younger age group, having altered its recommendations in 2018 to include those age 45 to 49.
    The changing USPSTF recommendations will be mean less confusion about which recommendation to follow as well as insurance coverage for screening at an earlier age, said Robert Smith, senior vice president of cancer screening for the American Cancer Society.
    
    "We want doctors and the public to recognize the value of starting screening at age 45, instead of putting it off until age 50 or even later, which frankly many people do," Smith said. "It's not as if everybody immediately begins screening at age 50. They commonly put it off until their middle 50s."
    By some estimates, one-quarter to one-third of people in the already recommended age group of 50 to 75 aren't getting their screening on time, even though colon cancer is the third-leading cause of cancer death in the United States.
    "This recommendation of screening for colorectal cancer is a critical preventive measure for all people ages 45 to 75 to help them live longer and healthier lives," Wong said.
    Noting Black adults have particularly high rates of colon cancer and are more likely to die from the disease, the task force encouraged doctors to reach out to their Black patients to be sure they're screened regularly
    Also, people should talk to their doctors if they have a change in bowel habits, blood in their stools or darkening stool, which can be a sign of bleeding, Smith said.
    <img style="float: right; width: 60%;" src="https://about.fb.com/wp-content/uploads/2021/02/NRP-COVID-1YR-16x9-1.jpg?fit=1920%2C1080" alt="">
    Several types of tests can screen for colon cancer, Wong said. Some can be done at home. Some can be done in a medical office. Patients can talk to their doctor to figure out the right test for them.
    The task force recommended both direct visualization tests such as colonoscopy and stool-based tests. The right test is the one that gets screening done, the task force statement said. The cancer society also recommends a stool test or direct visualization test. Visualization tests also include sigmoidoscopy or CT colonography.
    
    "We can prevent this disease through screening and we can find it early," Smith said  
    There isn't one answer for why more younger people are getting colon cancer, Smith said. An editorial accompanying the new recommendations -- published May 18 online in the Journal of the American Medical Association -- said risk can be reduced through diet and lifestyle changes.
    </p>
</body>
</html>